<<<<<<< HEAD
#spr8_57941cd {clip:rect(0px,1280px,720px,0px);}#spr10_57941cd,#spr11_57941cd,#zspr0_57941cd,#zspr1_57941cd,#zspr2_57941cd,#spr18_57941cd,#zspr3_57941cd,#zspr4_57941cd,#zspr5_57941cd,#zspr6_57941cd {display:none;}
=======
#spr8_16e16c {clip:rect(0px,1280px,720px,0px);}#spr10_16e16c,#spr11_16e16c,#zspr0_16e16c,#zspr1_16e16c,#zspr2_16e16c,#spr18_16e16c,#zspr3_16e16c,#zspr4_16e16c,#zspr5_16e16c,#zspr6_16e16c {display:none;}
>>>>>>> d9f1fb10e43877c2d38aaff64d53ee74eb109a75
