<<<<<<< HEAD
#spr8_578af12 {clip:rect(0px,1280px,720px,0px);}#spr10_578af12,#spr11_578af12,#zspr0_578af12,#zspr1_578af12,#zspr2_578af12,#spr18_578af12,#zspr3_578af12,#zspr4_578af12,#zspr5_578af12,#zspr6_578af12 {display:none;}
=======
#spr8_165614 {clip:rect(0px,1280px,720px,0px);}#spr10_165614,#spr11_165614,#zspr0_165614,#zspr1_165614,#zspr2_165614,#spr18_165614,#zspr3_165614,#zspr4_165614,#zspr5_165614,#zspr6_165614 {display:none;}
>>>>>>> d9f1fb10e43877c2d38aaff64d53ee74eb109a75
